@charset "UTF-8";
/*
Designed and developed by PlaceBOMB, a Startup Weekend joint. #lasw

Designers: Edmond Wu
Back-end: Omar
Front-end: Skot Carruth

*/

body{
	font-family: arial, sans-serif;
	font-size: .625em;
	background:#7e8188 url('../_images/bg/tile.gif') repeat;
	color:#fff;
}

.container{
	margin: 0 auto;
	width:940px;
	padding: 0 10px;
}

/* ~~~~~ Header ~~~~~ */

#mainHeader{
    background:url(../_images/bg/header.png) repeat-x;
    height:120px;
    width:100%;
}
h1#logo{
    text-indent:-9999px;
    background:url(../_images/placebomb-logo.png) no-repeat top left;
    display:block;
    height:123px;width:222px;
    float:left;
    margin: 0 70px 0 0;
}

#search{
	text-align: right;
	float: right;
	width: 400px;
	margin-top: 20px;
}

#mainNav {float: right; margin-top: 30px;}
#mainNav ul li{display:inline;}
#mainNav ul li a{
    text-transform:lowercase;
    color:#fff;
    font-size:1.4em;
    font-family: arial, sans-serif;
    padding:0 10px;
    display:block;
	float:left;
}

#mainNav ul li a:hover, #mainNav ul li a.selected{
    background-color:#282828;
}


/* ~~~~~ Content ~~~~~ */

#content{
    width:940px;
    margin:0 auto;
    padding:0 10px;
}

.mainContent{
	background: #5d5c5e;
	width: 602px;
	padding: 20px;
	margin: 25px 0 25px 1px;
	border: 1px solid #000;
	float: left;
}

#googleMap{
	padding-bottom: 10px;
}

.bombItem{
	background: #504d4d;
	border: 1px solid #828184;
	margin-top: 10px;
	padding: 8px 18px;
	clear: both;
}

#sidebar{
	margin-top: 25px;
	float: right;
	width: 245px;
}

.sidebarTop{
	width: 285px;
	height: 18px;
	background: transparent url('../_images/sidebar-top.png') no-repeat ;
}
.sidebarBottom{
	width: 285px;
	height: 47px;
	background: transparent url('../_images/sidebar-bottom.png') no-repeat left;
}
.uploadForm{
	background: #88abcd;
	width: 245px;
	padding: 0 20px 20px 20px;
}


/* ~~~~~ FOOTER ~~~~~ */

#footer{
	font-size: 1.4em;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #a6a4a5;
}

#footer ul li{display: block; float: left; margin: 0 10px;}


/* ~~~~~ Typography ~~~~~ */

a {text-decoration:none; color:#81a4c5;}
.mainContent a{font-weight:bold;}
a:hover {color:#777;}
a.selected{color:;}
h1 {font-size: ;}
h2 {font-size: 2.4em;margin-bottom:20px; line-height:1.25em; font-family: impact, sans-serif; color: #f15a24;}
h3 {font-size: 1.6em;}
h4{font-size: 1.4em;  bold;margin-bottom:3px;}
p {font-size: 1.4em;line-height:1.4em;}


/* FORM STYLES */
form ul li{
    display:block;
    margin-bottom:15px;
    line-height:2em;
}
label{width:100px;display:block;float:left;font-size:1.2em; margin-top: 10px;}
input, textarea{
    border:none;
    outline:none;
    padding:4px;
    background-color:#d4d9e2;
    font-size:1.2em;
    font-family:Arial, sans-serif;
}

input#formVenue{width: 230px;}

input#shareNow{
	float: right;
	background-color: #37414a;
	color: #fff;
	font-family: impact, sans-serif;
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 1.6em;
}

/* UTILITY CLASSES */
.fl {float: left;}
.fr {float: right;}
.cl {clear: left;}
.cr {clear: right;}
.clear {clear: both;}
.last{margin-right:0;padding-right:0;}
.centered {text-align: center;}

.transparent{  
    filter:alpha(opacity=50);  
    -moz-opacity:0.5;  
    -khtml-opacity: 0.5;  
    opacity: 0.5;  
}

.dropShadow{
	-moz-box-shadow: 0px -1px 5px #333;
	-webkit-box-shadow: 0px -1px 5px #333;
	box-shadow: 0px -1px 5px #333;
}

.roundedCorners{
	-moz-border-radius: 20px;  
	-webkit-border-radius: 20px; 
}

a[href$="pdf"]:after,
a[href$="doc"]:after {
margin:0 0 0 5px;
font:bold 12px "Lucida Grande";
content: " (PDF)";
}
a[href$=".doc"]:after {content: " (DOC)";}
a[target="_blank"]:before,
a[target="new"]:before {
margin:0 5px 0 0;
padding:1px;
outline:1px solid #333;
color:#333;
background:#ff9;
 }